head {
  text-align: center;
  background-color: #ef6b68;
  padding: 10px;
}

body {
  background-color: #ef6b68;
  height: 900px;
  text-align: center;
}

#info {
  background-color: #e3e3e3;
  z-index: 2;
  max-width: 50%;
}

.classname {
  margin: 10px;
  border-style: solid;
  border-color: firebrick;
  border-width: 1rem;
  align-content: space-between;
  margin-left: 12px;
  margin-bottom: 16px;
}

#infoWrapper {
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 2;
}

.table {
  display: table;
  margin: 0 auto;
}
#table {
  margin-top: 20px;
}
