

head {
    text-align: center;
    background-color: #ef6b68;
    padding: 10px;
  }
  
  body {
    background-color: #ef6b68;
    height: 900px;
    text-align: center;
  }
  h1 {
    height: 38px;
    font-family: Work Sans, sans-serif;
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 0.6px;
    text-align: center;
    color: #1f233e;
    padding-top: 40px;
    margin: 0;
  }
  #popupWraper{
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
  }
  #popup{
    background-color: white;
    display: flex;
    flex:1;
    width: 50%;
    align-self: center;

  }

 
  input {
    width: 350px;
    height: 37px;
    border-radius: 3.2px;
    border: solid 0.8px #1f233e;
    background-color: inherit;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Source Sans Pro;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
  }
  button {
    width: 125px;
    height: 37px;
    border-radius: 2px;
    border-color: inherit;
    background-color: #1f233e;
    margin-top: 30px;
    font-family: Work Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ef6b68;
    margin-right: -3px;
    
    }
    
  }
  button:hover {
    color: #ffffff;
    cursor: pointer;
  }
  
  button:active {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ef6b68;
    cursor: pointer;
  }
  .table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#list li {
		display: inline;
    }
    /*span{
        margin-top: 5px;
        margin-bottom: 5px;
    }
  